.header {
    height: 60px;
    display: flex;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
}
.header .header-logo{
    width: 200px;
    height: 40px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header-search{
    display: flex;
    flex: 1;
    border-radius: 20px;
    align-items: center;
}
.header-search input{
    outline: none;
    border: none;
    height: 25px;
    padding: 10px;
    width: 100%;
}
.header .header-serachIcon{
    font-size: 15px;
    height: 25px;
    padding: 3px 5px;
    font-weight: 900;
    color: #000;
    background-color: #cd9042;
    cursor: pointer
}
.header .header-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header .header-nav .header-option{
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header-optionLineOne{
    font-size: 10px;
}
.header-optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header-optionBaskeet{
    color: #fff;
    display: flex;
    align-items: center;
}
.header-basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

@media(max-width:768px){
}